@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');
body{
    background-color: black;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}
#navbar{
    background-color: rgb(39, 6, 6);
    width: 100%;
    /* height: 550px; */
    position: fixed;
    border: 2px solid white;
    top: 0;
    z-index: 2;
    
}

   
    

.logo {
   display: flex;
   /* justify-content: center; */
   align-items: left;
   font-weight: bold;
   width: 10%;
   padding: 31px 45px;
   height: 25%;
   margin: 15px 10px;
   font-size: 40px;
   color: white;
}
.nav-list{
    display: flex;
    align-items: center;
   
}

.nav-list li{
  list-style: none;
  padding: 29px 45px;
  margin-left: 0px;
  padding-right: 0px;
  font-size: 24px;
text-align: right;

}
.nav-list li a{
    font-family: 'Baloo Bhai 2', cursive;
text-decoration: none;
color: white;
list-style: none;
}
.nav-list li a:hover{
    color: green;
}

 .button{ 
  text-decoration: none;
  list-style: none;
  border: 3px solid rgb(0, 0, 0);
  color: white;
  margin-left: 1.5rem;
  font-size: 24px;
  background-color: rgb(35, 89, 48);
  border-radius: 1rem;
  padding: 0.3rem;
  
} 
.button:hover{
   background-color: rgb(181, 58, 58);
   color: white;
}




.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background-color: rgb(102, 101, 101);
    cursor: pointer;
    color: white;
    font-size: 1.6rem;
    padding: 1rem 3rem;
    text-decoration: none;
}
.btn:hover{
    background-color: white;
    color: black;
}

.home{
    margin-top: 7rem;
}

.home .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap:1.5rem;
 }
 
  .home .row .content{
    flex:1 1 40rem;
    text-align: center;
 }
 
 .home .row .image{
    flex:1 1 25rem;
 }
 
 .home .row .image img{
    width: 100%;
    
 }
 

  .home .row .content h3{
    margin-bottom: 1rem;
    font-size: 6rem;
   color: white;
    line-height: 1;
 }
 .home .row .content h3 span{
   color: rgb(81, 179, 81);
 } 
 
.count .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
    gap:0.5rem;
    margin: 5px;
    align-items: flex-start;
}
.count .box-container .box{
    background-color: rgb(109, 108, 108);
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}
.count .box-container .box i{
font-size: 3rem;
color: rgb(49, 151, 49);

}

.count .box-container .box h3{
    font-size: 2rem;
    color: white;
    margin-bottom: 0.5rem;
}
.count .box-container .box p{
    font-size: 1.6rem;
    color: white;
}

.about .row{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
 }
 
 .about .row .image{
    flex:1 1 27rem;
 }
 
 .about .row .image img{
    width: 100%;
 }
 
 .about .row .content{
    text-align: center;
    flex:1 1 40rem;
 }
 
 .about .row .content h3{
    font-size: 3rem;
    color:white;
 }
 
 .about .row .content p{
    padding:1rem 0;
    line-height: 2;
    font-size: 1.6rem;
    color:white;
 }
 
.courses h1{
    margin: 1rem;
    font-size: 3rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    /* line-height: 0.5; */
    
}
.courses h1 span{
    margin: 1rem;
    font-size: 3rem;
    color: green;
    display: flex;
    align-items: center;
    justify-content: center;
}



 .courses .slide{
    background-color: rgb(110, 109, 109);
    border-radius: .5rem;
    text-align: center; 
    padding:0.5rem;
    margin-bottom: 2rem;
    user-select: none;
    width: 30%;
    height: 100%;
    z-index: -1;
    
    /* margin: 0rem; */

 }
 
 .courses .slide img{
    height: 10rem;
    width: 100%;
 }
 
 .courses .slide h3{
    margin:1.3rem 0;
    font-size: 1.5rem;
    color:white;
 }
 
 .courses .slide p{
    line-height: 2;
    font-size: 1rem;
    color:white;
 }
 
 .swiper-pagination-bullet{
    background-color:white;
 }
  
 .swiper-pagination-bullet-active{
    background-color: green;
 }


 .teachers h1{
    margin: 1rem;
    font-size: 3rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;

 }
 .teachers h1 span{
    margin: 1rem;
    font-size: 3rem;
    color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
   
 }
 

.teachers .slide{
   position: relative;
   width: 10rem;
   overflow: hidden;
}
 
.teachers .slide img{
   height: 20rem;
   width: 90%;
   object-fit: cover;
   border-radius: 1rem;
   padding-left: 0.5rem;
}

.teachers .slide h3{
   margin-top: 0.5rem;
   font-size: 1.7rem;
   color: white;
   padding-left: 10rem;
   margin-bottom: 2rem;
}

.teachers .slide .share{
   position: absolute;
   top: 1rem;left:-10rem;
}
.teachers .slide:hover .share{
   left: 5rem;
}

.teachers .slide .share a{
   display: block;
   margin-top: 1rem;
   height: 2rem;
   width: 2rem;
   line-height: 2rem;
   background-color: white;
   color: black;
   text-align: center;
   font-size: 1rem;
   text-decoration: none;
}

.teachers .slide .share a:hover{
   background-color: green;
   color: white;
}


.reviews h1{
   margin: 1rem;
   font-size: 3rem;
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   text-transform: uppercase;

}
.reviews h1 span{
   margin: 1rem;
   font-size: 3rem;
   color: green;
   display: flex;
   align-items: center;
   justify-content: center;
   text-transform: uppercase;
  
}



.reviews-slider .slide{
   width: 18rem;
   border-radius: .5rem;
   background-color: rgb(114, 114, 114);
   padding:1rem;
   margin-bottom: 3rem;
   user-select: none;
   
}

.reviews-slider .slide p{
   line-height: 1.5;
   font-size: 1.2rem;
   color:white;
   text-align: center;
   justify-content: center;
}

.reviews-slider .slide .user{
   display: flex;
   align-items: center;
   gap:1.2rem;
   margin-top: 1.2rem;
}

.reviews-slider .slide .user img{
   height: 5rem;
   width: 5rem;
   border-radius: 50%;
   object-fit: cover;
}

.reviews-slider .slide .user h3{
   font-size: 1.5rem;
   color:white;
   margin-bottom: .3rem;
}

.reviews-slider .slide .user .stars i{
   font-size: 1rem;
   color:green;
}


.contact h1{
   margin: 1rem;
   font-size: 3rem;
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   text-transform: uppercase;

}
.contact h1 span{
   margin: 0rem;
   font-size: 2rem;
   color: green;
   display: flex;
   align-items: center;
   justify-content: center;
   text-transform: uppercase;
  
}

.contact .row{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap:1.5rem;
}

.contact .row .image{
   flex: 1 1 20rem;
}

.contact .row .image img{
   width: 85%;
}

.contact .row form{
   flex:1 1 10rem;

}

.contact .row form .box{
   width: 90%;
   margin-top: 0.5rem;
   margin-bottom: 1rem;
   border-radius: .5rem;
   background-color: rgb(155, 149, 149);
   font-size: 1.3rem;
   color:white;
   
   padding:0.5rem;
   text-transform: none;
}

.contact .row form span{
   font-size: 1.4rem;
   color:white;
}

.contact .row form .radio{
   margin-top: 1rem;
   margin-bottom: 1rem;
}

.contact .row form .radio label{
   font-size: 1.3rem;
   color:white;
   margin-left: .5rem;
   cursor: pointer;
}

.contact .row form .radio #female{
   margin-left: 1rem;
}

.contact .row form .radio input{
   appearance: none;
   height: 1rem;
   width: 1rem;
   background-color: white;
   cursor: pointer;
}

.contact .row form .radio input:checked{
   background-color: green;
   border-radius: 5rem;
}

.contact .row form .radio #male:checked ~ label[for="male"]{
   color:green;
}

.contact .row form .radio #female:checked ~ label[for="female"]{
   color:green;
}

.footer{
   background-color: rgb(86, 84, 84);
   text-align: center;
   /* padding-bottom: 7rem; */
}

.footer .share a{
   margin:0 .2rem;
   height: 4rem;
   width: 4rem;
   line-height: 4.5rem;
   border-radius: 50%;
   font-size: 2rem;
   color:white;
   background-color: black;
   margin-top: 3rem;
   text-decoration: none;
}

.footer .share a:hover{
   background-color: green;
}

.footer .credit{
   margin-top: 3rem;
   padding:1.5rem;
   padding-top: 3rem;
   border-top: .1rem solid white;
   font-size: 1rem;
   color:white;
}

.footer .credit span{
   color:green;
}










.burger{
    display: none;
position: absolute;
cursor: pointer;
right: 9%;
top: 40px;
}

.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 3px 3px;
}


@media only screen and (max-width:1140px) {
    .nav-list{
        flex-direction: column;
        
    }
    #navbar{
        flex-direction: column;
        width: 100%;
        /* height: 550px; */
         /* transition: all 4.5s ease-out; */
    }
    .logo{
        /* width: 100%; */
        align-items: center;
        justify-content: center;
        font-size: 50px;
        /* padding-top: 0px; */
        /* padding-bottom: 0px; */
        margin: 1px;
        width: 100%;
        border-bottom: 1px solid whitesmoke;

    }
    .nav-list li{
        padding-top: 0px;
        margin: 0px;
        padding: 13px 13px;

       
    }
    .nav-list li a{
        font-size: 27px;
        
        
    }
    .burger{
        display: block;
       
    }
    .h-nav{
        height: 100px;
       
    }
   .v-class{
    opacity: 0;
   }
   .home .row .content h3{
    margin-bottom: 1rem;
    font-size: 6rem;
   /* color: white; */
    line-height: 1;
    flex: wrap-reverse;
}
.button{
   margin-top: 1rem;
}
}
/* media query for home section */
@media only screen and (max-width:1060px) {
    .home .row .image img{
        width: 100%;
        
     }
     .home .row .image{
    flex:1 1 40rem;
 }
  .home .row .content h3{
    margin-bottom: 1rem;
    font-size: 8rem;
    display: block;
   text-align: center;
    line-height: 1;
 }
  .home .row .content h3 span{
   color: rgb(81, 179, 81);
   display: block;
 }
   
}
@media only screen and (max-width:565px) {
    .home .row .image img{
       width: 170%;
        
     }
     .home .row .image{
    flex:1 1 50rem;
 }
 .home .row .content h3{
    margin-bottom: 1rem;
    font-size: 8rem;
    padding-left: 9rem;
    line-height: 1;
    display: flex;
    text-align: center;
    justify-content: center;
    
    display: block;
 }
  .home .row .content h3 span{
   color: rgb(81, 179, 81);
   display: block;
 } 
}
@media only screen and (max-width:340px) {
    .home .row .image img{
       width: 150%;
        
     }
     .home .row .image{
    flex:1 1 40rem;
 }
 .home .row .content h3{
    margin-bottom: 1rem;
    font-size: 5rem;
    padding: 2rem 2rem;
    line-height: 1;
    text-align: center;
    /* justify-content: center; */
    display: block;
 }
  .home .row .content h3 span{
   color: rgb(81, 179, 81);
   display: block;
 } 
}